@font-face {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Tenor Sans"), url('/fonts/TenorSans-Regular.woff2') format('woff2'), url('/fonts/TenorSans-Regular.ttf') format('truetype')
}
@font-face {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Roboto-Regular"), url('/fonts/Roboto-Regular.woff2') format('woff2'), url('/fonts/Roboto-Regular.ttf') format('truetype')
}
@font-face {
    font-family: 'Roboto-Italic';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local("Roboto-Italic"), url('/fonts/Roboto-Italic.woff2') format('woff2'), url('/fonts/Roboto-Italic.ttf') format('truetype')
}
@font-face {
    font-family: 'Roboto-Light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Roboto-Light"), url('/fonts/Roboto-Light.woff2') format('woff2'), url('/fonts/Roboto-Light.ttf') format('truetype')
}
@font-face {
    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Roboto-Bold"), url('/fonts/Roboto-Bold.woff2') format('woff2'), url('/fonts/Roboto-Bold.ttf') format('truetype')
}
@font-face {
    font-family: 'Roboto-LightItalic';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: local("Roboto-LightItalic"), url('/fonts/Roboto-LightItalic.woff2') format('woff2'), url('/fonts/Roboto-LightItalic.ttf') format('truetype')
}
@font-face {
    font-family: 'Roboto-BoldItalic';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local("Roboto-BoldItalic"), url('/fonts/Roboto-BoldItalic.woff2') format('woff2'), url('/fonts/Roboto-BoldItalic.ttf') format('truetype')
}